/*=========================== Detail Product ==============================*/
.detail__picture {
	flex: 1;
	padding: 30px;
	img {
		width: 100%;
	}
}
.detail__info {
	padding: 30px;
	position: relative;
}
.detail__info-heading {
	color: rgba(102, 102, 102, .7);
	font-weight: 400;
	text-transform: uppercase;
	margin: 8px 0;
}
.detail__info-name {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.3;
	color: #555;
	width: 100%;
	margin: 8px 0;
}
.detail__info-price {
	font-size: 2.2rem;
	margin: 20px 0;
}
.detail__info-price--symbol {
	font-size: .75em;
	position: absolute;
	top: 0;
	font-size: 1.2rem;
}
.detail__info-price--cost {
	white-space: nowrap;
	color: #111;
	font-weight: 700;
	opacity: .6;
	text-decoration: line-through;
	position: relative;
	margin-right: 20px;
}
.detail__info-price--unit {
	white-space: nowrap;
	color: #111;
	font-weight: 700;
	position: relative;
}
.detail__info-size,
.detail__info-color {
	margin: 20px 0;
}
.detail__info-size label,
    .detail__info-color label {
	color: #111111;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #e5e5e5;
	padding: 6px 15px;
	margin-bottom: 0;
	margin-right: 5px;
	cursor: pointer;
}
.detail__info-size label.active,
        .detail__info-color label.active {
	background: #111111;
	color: #ffffff;
	border-color: #111111;
}
.detail__info-size {
	label {
		input {
			position: absolute;
			visibility: hidden;
		}
	}
}
.detail__info-color {
	label {
		input {
			position: absolute;
			visibility: hidden;
		}
	}
}
.detail__info-size-label,
.detail__info-color-label {
	font-weight: bold;
	display: block;
	margin: 10px 0;
}
.detail__info-button-addtoCart {
	opacity: 0.8;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #ffffff;
	background: #000000;
	letter-spacing: 4px;
	&:hover {
		opacity: 1;
	}
}
#qtyinStock {
	display: block;
	margin: 15px 0;
}