/* About */
.about {
    height: 100vh;
    position: relative;
}

.about__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 50px;
    background-color: #f5f5f5;
}

#slide {
    width: max-content;
    margin-top: 50px;
}

.item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

    .item:nth-child(1),
    .item:nth-child(2) {
        left: 0;
        top: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .item:nth-child(3) {
        left: 50%;
    }

    .item:nth-child(4) {
        left: calc(50% + 220px);
    }

    .item:nth-child(5) {
        left: calc(50% + 440px);
    }

    .item:nth-child(n+6) {
        left: calc(50% + 660px);
        opacity: 0;
    }

    .item .content {
        position: absolute;
        top: 50%;
        left: 100px;
        width: 400px;
        text-align: left;
        padding: 20px;
        border-radius: 20px;
        color: #000;
        transform: translate(0, -50%);
        display: none;
        font-family: system-ui;
        background-color: rgb(237 224 224 / 50%);
    }

    .item:nth-child(2) .content {
        display: block;
        z-index: 11111;
        box-shadow: 0 0.625rem 20px 0 rgba(0, 0, 0, .5);
    }

    .item .name {
        font-size: 40px;
        font-weight: bold;
        line-height: 4rem;
        opacity: 0;
        animation: showcontent 1s ease-in-out 1 forwards
    }

    .item .des {
        line-height: 2.2rem;
        color: #000;
        font-size: 2.2rem;
        margin: 20px 0;
        opacity: 0;
        animation: showcontent 1s ease-in-out 0.3s 1 forwards
    }

    .item button {
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 14px 30px;
        color: #ffffff;
        background: #000000;
        letter-spacing: 4px;
        animation: showcontent 1s ease-in-out 0.6s 1 forwards
    }

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.buttons {
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 222222;
	text-align: center;
	width: 100%;
	button {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #555;
		transition: 0.5s;
		background-image: linear-gradient(0, rgb(0 0 0 / 10%), rgb(0 0 0 / 10%));
		background-color: rgba(0, 0, 0, 0.4);
		color: white;
		&:hover {
			background-color: #bac383;
		}
	}
}


// media
ul {
	&.social_media {
		position: absolute;
		display: flex;
		justify-content: center;
		gap: 25px;
		left: 100px;
		bottom: 20%;
		margin: 0 auto;
		padding: 10px;
		li {
			position: relative;
			list-style: none;
			width: 60px;
			height: 60px;
			border-radius: 60px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.5s;
			background-color: black;
			&:hover {
				width: 180px;
				box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
				&::before {
					opacity: 1;
				}
				&::after {
					opacity: 0.5;
				}
				i {
					transform: scale(0);
					font-size: 1.75rem;
					transition-delay: 0.25s;
				}
				.titulo {
					transform: scale(1);
					transition-delay: 0.25s;
				}
			}
			&::before {
				content: "";
				position: absolute;
				inset: 0;
				border-radius: 50px;
				background: linear-gradient(45deg, var(--i), var(--j));
				opacity: 0;
				transition: 0.5s;
			}
			&::after {
				content: "";
				position: absolute;
				top: 10px;
				width: 100%;
				height: 100%;
				border-radius: 60px;
				background: linear-gradient(45deg, var(--i), var(--j));
				opacity: 0;
				transition: 0.5s;
				z-index: -1;
				filter: blur(15px);
			}
			i {
				color: white;
				font-size: 1.75rem !important;
				transition: 0.5s;
				transition-delay: 0.25s;
			}
			span {
				position: absolute;
			}
			.titulo {
				color: #fff;
				font-size: 1.1em !important;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				transform: scale(0);
				transition: 0.5s;
				transition-delay: 0s;
			}
		}
	}
}

/* Release */
#release {
	#headline {
		text-align: center;
		h3 {
			display: inline-block;
			border: 1px solid var(--color-text);
			padding: 10px 20px;
			margin-bottom: 15px;
		}
	}
	#products {
		&.row {
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
	}
}
#products {
	li {
		flex-basis: 25%;
		&:hover {
			.product-top {
				a {
					&.buynow {
						bottom: 0;
					}
				}
				.product-thumb {
					img {
						filter: opacity(90%);
					}
				}
			}
		}
	}
}
.product-item {
	background-color: var(--white-color);
	margin-top: 10px;
	position: relative;
	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 0.625rem 20px 0 rgba(0, 0, 0, .5);
	}
}
.product-top {
	position: relative;
	overflow: hidden;
	a {
		&.buynow {
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			display: block;
			background-color: #000;
			padding: 10px 0;
			width: 100%;
			position: absolute;
			bottom: -50px;
			transition: 0.25s ease-in-out;
			opacity: 0.8;
			cursor: pointer;
		}
	}
	span {
		&.sold {
			text-transform: uppercase;
			color: #000;
			font-size: 1.6rem;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			padding: 10px 0;
			width: 100%;
			position: absolute;
			top: 0px;
			bottom: 0px;
			margin: auto 0px;
			height: 100px;
			transition: 0.25s ease-in-out;
		}
	}
}
.product-top a.product-thumb,
    .product-top a.product-thumb img {
	display: block;
}
.product-info {
	padding: 10px 5px;
	a {
		display: block;
		&.product-cat {
			font-size: 11px;
			text-transform: uppercase;
			color: #bebebe;
		}
		&.product-name {
			color: var(--color-text);
			padding: 2px 0;
		}
	}
	.product-price {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.product--costPrice {
		text-decoration: line-through;
		font-size: 1rem;
		padding: 2px 0;
	}
	.product--unitPrice {
		font-weight: 600;
		padding: 2px 8px;
	}
}
.product--currentPrice {
	position: absolute;
	top: 0;
	font-size: 1.2rem;
}
.store-product__sale-off {
	position: absolute;
	top: 0;
	right: 15px;
	width: 40px;
	height: 36px;
	background-color: var(--primary-color);
	text-align: center;
	margin: 5px 0 0 0;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;
		border-width: 0 20px 6px;
		border-style: solid;
		border-color: transparent var(--primary-color) transparent var(--primary-color);
	}
}
.store-product__sale-off-percent {
	color: #ffffff;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 1.3rem;
}
.store-product__sale-off-label {
	font-size: 1.2rem;
	color: var(--white-color);
}
.MenuTrang {
	margin: 20px 0;
}
.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	justify-content: center;
	align-items: center;
}
.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: rgb(0, 28, 64);
	background-color: #FFF;
	border: 1px solid #dee2e6;
	&:hover {
		cursor: pointer;
	}
}
.active {
	background-color: black;
	color: white;
}
.release {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 100px;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
.release__content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.textBox {
		position: relative;
		max-width: 450px;
		h2 {
			color: var(--release-text);
			font-size: 4em;
			line-height: 1.4em;
			font-weight: 500;
			span {
				color: var(--release-text);
				font-size: 1.2em;
				font-weight: 900;
			}
		}
		p {
			color: var(--release-text);
		}
		a {
			display: inline-block;
			margin-top: 20px;
			padding: 16px 40px;
			background: #161616;
			color: #fff;
			border-radius: 40px;
			font-weight: 500;
			letter-spacing: 1px;
			text-decoration: none;
		}
	}
	.imgBox {
		width: 600px;
		display: flex;
		justify-content: flex-start;
		padding-right: 50px;
		margin-top: 50px;
		img {
			max-width: 540px;
			max-height: 500px;
		}
	}
}
.release__thumb {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
	li {
		list-style: none;
		display: inline-block;
		margin: 0 20px;
		cursor: pointer;
		transition: 0.5s;
		&:hover {
			transform: translateY(-15px);
		}
		img {
			max-width: 60px;
		}
	}
}
.release__circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(101 104 99);
	clip-path: circle(600px at right 800px);
}